<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2020-06-05T15:39:37Z</date>
	<key>WorkspacePath</key>
	<string>/Users/nadiamettioui/Documents/App4MatchGame1/App4MatchGame.xcodeproj</string>
</dict>
</plist>
